
app/app/src/main/res/mipmap-xxhdpi/ic_clover_round.png
app/app/src/main/ic_clover-playstore.png
app/app/src/main/res/drawable/ic_clover_foreground.xml
app/app/src/main/res/mipmap-hdpi/ic_clover.png
app/app/src/main/res/mipmap-hdpi/ic_clover_round.png
app/app/src/main/res/mipmap-mdpi/ic_clover.png
app/app/src/main/res/mipmap-mdpi/ic_clover_round.png
app/app/src/main/res/mipmap-xhdpi/ic_clover.png
app/app/src/main/res/mipmap-xhdpi/ic_clover_round.png
app/app/src/main/res/mipmap-xxhdpi/ic_clover.png
app/app/src/main/res/mipmap-xxxhdpi/ic_clover.png
app/app/src/main/res/mipmap-xxxhdpi/ic_clover_round.png
app/app/src/main/res/mipmap-hdpi/ic_clover_2.png
app/app/src/main/ic_clover_2-playstore.png
app/app/src/main/res/mipmap-hdpi/ic_clover_2_round.png
app/app/src/main/res/mipmap-mdpi/ic_clover_2.png
app/app/src/main/res/mipmap-mdpi/ic_clover_2_round.png
app/app/src/main/res/mipmap-xhdpi/ic_clover_2.png
app/app/src/main/res/mipmap-xhdpi/ic_clover_2_round.png
app/app/src/main/res/mipmap-xxhdpi/ic_clover_2.png
app/app/src/main/res/mipmap-xxhdpi/ic_clover_2_round.png
app/app/src/main/res/mipmap-xxxhdpi/ic_clover_2.png
app/app/src/main/res/mipmap-xxxhdpi/ic_clover_2_round.png
